<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi ${recipientName}</p>
    <p>Total Opened Issues for approving : ${count} </p>
    <p><a href="http://fbb5b3913e2f4014905cbec92e96de53-902206237.us-east-1.elb.amazonaws.com:3002/issues" rel="link">Auto Ghe Opened Issues</a></p>
    <p>Regards,</p>
    <p>
      <em>Admin at Auto-Ghe</em> <br />
    </p>
  </body>
</html>